.content {
  min-height: calc(100vh - 70px);
}
.footer {
  height: 50px;
  background-color: #383838;
  margins: 0px;
  color: #FEFEFA;
  padding: 10px;
}
.section input[type="radio"] {
  display: none;
}
.container {
  margin-bottom: 10px;
}
body {
  background-color: #FEFEFA;
  color: #383838;
  margin: 0px;
  font-family: 'PT Sans', sans-serif;
}
h1 {
  color: #ee4b28;
  user-select: none;
}
button {
  background-color: #ee4b28;
  border: 1px solid #ee4b28;
  color: #FEFEFA;
  height: 30px;
  border-radius: 5px;
  margin: 5px;
  font-size: 15px;
  font-family: 'PT Sans', sans-serif;
  padding-left: 10px;
  padding-right: 10px;
}
#map {
  height: 400px;
  width: 75%;
}
button:active {
  background-color: #bd2f0f;
  border: 1px solid #bd2f0f;
  color: #f2f2f2;
  height: 30px;
  border-radius: 5px;
  margin: 5px;
}
input {
  background-color: #f2f2f2;
  border: 1px solid #ee4b28;
  color: #383838;
  height: 30px;
  margin: 5px;
}
::-webkit-input-placeholder {
  color: #383838;
}
::-moz-placeholder {
  color: #383838;
}
:-ms-input-placeholder {
  color: #383838;
}
:-moz-placeholder {
  color: #383838;
}
.container label {
  position: relative;
}
.container span::before,
.container span::after {
  content: '';
  position: absolute;
  top: 0;
  bottom: 0;
  margin: auto;
  font-family: 'PT Sans', sans-serif;
}
.container span.radio:hover {
  cursor: pointer;
  font-family: 'PT Sans', sans-serif;
}
.container span.radio::before {
  left: -52px;
  width: 45px;
  height: 25px;
  background-color:  #b3b3b3;
  border-radius: 50px;
  font-family: 'PT Sans', sans-serif;
  text-align: left;
}
.container span.radio::after {
  left: -49px;
  width: 17px;
  height: 17px;
  border-radius: 10px;
  background-color:  #737373;
  transition: left .25s, background-color .25s;
  font-family: 'PT Sans', sans-serif;
}
input[type="radio"]:checked + label span.radio::after {
  left: -27px;
  background-color: #ee4b28;
  font-family: 'PT Sans', sans-serif;
}
p {
  margin-left: 10%;
  margin-right: 10%;
  font-family: 'PT Sans', sans-serif;
  user-select: none;
}
strong {
  font-family: 'PT Sans', sans-serif;
  font-weight: extra-bold;
}
#first {
  margin-left: 45%;
  margin-top: 20px;
  text-align: left;
}
#topLogo {
  width: 390px;
  align: center;
  user-select: none;
  user-drag: none;
  -moz-user-select: none;
  -webkit-user-drag: none;
  -webkit-user-select: none;
  -ms-user-select: none;
}
a {
  color: #FEFEFA;
}
a:hover {
  color: #FEFEFA;
}
